@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

body{
    color: #ffffff;
    background-color: #ffffff;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: #F57D1F;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px #1E1E1E;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}

ul.nav-links{
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
}

li.nav-link{
    display: inline-block;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 300;
}

.linkedin a {
    color: #0A66C2; 
    font-weight: bold; 
    transition: color 0.3s ease;
}

.linkedin a:hover{
    color: #004182; 
    font-weight: bold; 
}

.email a {
    color: #FF0000; 
    font-weight: bold; 
    transition: color 0.3s ease;
}

.email a:hover{
    color: #CC0000; 
    font-weight: bold; 
}

.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    border-color:#FD5800;
    background-color:#FD5800;
}

.image-wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.image-wrapper img{
    max-width: 500px;
}

.attrebute{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 12px;
}

@media screen and (max-width: 1075px) {
    .content{
        flex-direction: column;
    }
}
@media screen and (max-width: 720px) {
    html, body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 13px;
    }
    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 5vh;
        position: relative;
    }
    .image-wrapper img{
        max-width: 400px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    button:hover {
        border-color: #FD5800;
        background-color: #FD5800;
    }
    .linkedin a:hover {
        color: #004182;
    }
    .email a:hover {
        color: #CC0000;
    }
} 
